@use "../abstracts/" as *;

.playscr{
    padding: 10%;
    height: 100vh;
    &-bar{
        position: relative;
        z-index: 100;
        padding: 10px;
        @include flex($justify:space-between,$align:center);
        border-radius: 5px;
        border: 0.4px solid $text-color;
        progress{
            width: 75%;
            
        }
        progress::-webkit-progress-value{
            background-color: $button-watch-color;
      }
        &::after{
            content: "";
           position: absolute;
           top: 0;
           left: 0;
           z-index: -10;
           height: 100%;
           width: 100%;
           background-color: $text-color;
           opacity: 0.4;
           filter: blur(2);
        }
    }
}