@use "../abstracts/" as *;

.pk-form-prelogin{
    @include flex($justify:center, $align:center);
    text-align: center;
    height: 100%;
    .form-prelogin{
       @include flex($direction:column,$gap:40px);
       &-title{
        @include flex($justify:center,$align:center,$gap:10px,$direction:column);
        figure{
            width: 60%;
            img{
                width: 100%;
            }
        }
        p{
           @include font($font-size:pxToRem(18),$font-weight:400,$line-height:20px);
        }
       }
       &-behavior{
        @include flex($direction:column,$align:center,$gap:10px,$justify:center);
        p{
            @include font($font-size:pxToRem(16),$font-weight:700,$line-height:20px);
            a{
                text-decoration-line: underline;
            }
        }
       }
    }
}
